body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
   background: url('../img/bg-image\ [1].jpg') no-repeat center center fixed;
  background-size: cover;
   backdrop-filter: blur(2px);
}
form{
    transition: transform 0.3s ease;
  animation: fadeIn 0.8s ease;
}
form:hover {
  transform: translateY(-3px);
}
.login-container {
  background: white;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.2);
  width: 300px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.error-msg {
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
  text-align: center;
}
.back-home {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

.back-home a {
  color: #1f1e88;
  text-decoration: none;
  font-weight: 500;
}

.back-home a:hover {
  text-decoration: underline;
}